
    <mat-list>
      <h3 mat-subheader>Unread</h3>
      <mat-list-item> 

          <h4 mat-line>sent from</h4>
          <div mat-card-avatar class="feed-header-image"></div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Read</h3>
      <mat-list-item>
          <div mat-card-avatar class="feed-header-image"></div>
        <h4 mat-line>sent from</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Read</h3>
      <mat-list-item>
        <div mat-card-avatar class="feed-header-image"></div>
        <h4 mat-line>sent from</h4>
      </mat-list-item>
    </mat-list>