<mat-card class="login-card">
  <div class = "logo">
    <img mat-card-image src="assets/images/stayfyt_logo.png">
  </div>
  
  <form (ngSubmit)="loginUser()">
    <mat-card-content>
        <div class="login-container">
             
          <div>
            <mat-form-field>
              <input matInput 
              placeholder="Username" 
              [(ngModel)]="formModel.username"
              name="username" 
              required>
              <mat-icon matSuffix></mat-icon>
            </mat-form-field>
          </div>
              <br>
          <div>
            <mat-form-field>
                <input matInput placeholder="Password" 
                [type]="hide ? 'text' : 'password'" 
                [(ngModel)]="formModel.password" name="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>  
            </mat-form-field>
          </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button (click)="registerUser()" >Register </button>
    </mat-card-actions>
  </form>
</mat-card>