<mat-card class="feed-card">
    <mat-card-header>
      <div mat-card-avatar class="feed-header-image"></div>
      <mat-tab-group >
          <mat-tab label="Make Post"></mat-tab>
          <mat-tab label="Photo/Video"></mat-tab>
      </mat-tab-group>
      
    </mat-card-header>
    <mat-card-content >
      <form style="margin-top:25px;">
          <mat-form-field style="width:100%">
              <textarea matInput placeholder="Whats on your mind?"></textarea>
          </mat-form-field>
      </form>
          
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Share</button>
    </mat-card-actions>
</mat-card>


<mat-card class="feed-card">
    <mat-card-header>
      <div mat-card-avatar class="feed-header-image"></div>
      <mat-card-title>user name</mat-card-title>
      <mat-card-subtitle>user type</mat-card-subtitle>
    </mat-card-header>
    <img align="center" class="feed-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="feed-content">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
          
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
      
    </mat-card-actions>
</mat-card>

<mat-card class="feed-card">
    <mat-card-header>
      <div mat-card-avatar class="feed-header-image"></div>
      <mat-card-title>user name</mat-card-title>
      <mat-card-subtitle>user type</mat-card-subtitle>
    </mat-card-header>
    <img align="center" class="feed-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="feed-content">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>