.feed-card {
    width: 95%;
    padding-top:25px;
    margin-top:25px;
}
  
.feed-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.feed-image
{
    max-width: 80%;

}

.feed-content
{
    width:80%;
}