<div style="margin-top:25px">
  <mat-form-field>
      <input 
        matInput 
        [matDatepicker]="picker" 
        (dateInput)="addEvent('input', $event)" 
        (dateChange)="addEvent('change', $event)" 
        [matDatepickerFilter]="myFilter" 
        placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-list>
    <h3 mat-subheader>11:30am</h3>
    <mat-list-item>
      
      <h4 mat-line>client name</h4>
      <p mat-line> location </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>12:00pm</h3>
    <mat-list-item>
      <h4 mat-line>client name</h4>
      <p mat-line>client location</p>
    </mat-list-item>
  </mat-list>
</div>