<mat-tab-group >
  <mat-tab label="Profile"><client-profile></client-profile></mat-tab>
  <mat-tab label="Schedule"><trainer-schedule></trainer-schedule></mat-tab>
  <mat-tab label="My Trainers"><client-trainer-list></client-trainer-list></mat-tab>
  <mat-tab label="Feed"><feed></feed></mat-tab>
  <mat-tab label="Notifications"><trainer-request-list></trainer-request-list></mat-tab>
  <!--<mat-tab label="Search"><client-search-trainer></client-search-trainer></mat-tab> -->
  <mat-tab label="Payment"><app-client-payment></app-client-payment></mat-tab>
</mat-tab-group>
