<div style="margin-top:25px">
    <mat-list>
      <h3 mat-subheader>New Client Request</h3>
      <mat-list-item> 
        <h4 mat-line>client name + info</h4>
        <p mat-line> location </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Session Cancel Request</h3>
      <mat-list-item>
        <h4 mat-line>client name</h4>
        <p mat-line>client location</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Session Update Request</h3>
      <mat-list-item>
        <h4 mat-line>client name</h4>
        <p mat-line>client location</p>
      </mat-list-item>
    </mat-list>
  </div>