<div class = "logo">
  <img src="assets/images/stayfyt_logo.png">
</div>
<mat-card class="register-card">
  <form (ngSubmit)="createUser()">
    <mat-card-content>
      <div class="register-container">
        <mat-horizontal-stepper [linear]="false">
            <mat-step [stepControl]="selectUserType">              
              <form>
                  <ng-template matStepLabel>Welcome</ng-template>
                  <mat-form-field>
                    <mat-select placeholder="Who are you?" required>
                      <mat-option value="client">Client</mat-option>
                      <mat-option value="trainer">Trainer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput required placeholder="Zip Code">
                  
                  </mat-form-field>
                  <div class="nav-button-container">
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
              </form>
          </mat-step>
          <mat-step [stepControl]="selectBasicUserInfo">
            <form>
              <ng-template matStepLabel>Basic Information</ng-template>
              <mat-form-field>
                  <input matInput type="datetime" required placeholder="Date of Birth">
                </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Username">
              </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Password">
              </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Confirm Password">
              </mat-form-field>
              <div class="nav-button-container">

                  <button mat-raised-button color="primary" matStepperNext>Next</button>
                  <button mat-button matStepperPrevious>Back</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="selectAdditionalInfo">
              <form>
                <ng-template matStepLabel>Additional Information</ng-template>
                <mat-form-field>
                    <mat-select multiple placeholder="Workout types" required>
                        <mat-option value="cardio">Cardio</mat-option>
                        <mat-option value="weights">Weight Lifting</mat-option>
                        <mat-option value="yoga">Yoga</mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput required placeholder="Address" id="geolocationRegister">
                
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" required placeholder="Max Range (miles)">
                </mat-form-field>
   
            
                <div class="nav-button-container">

                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
              </form>
            </mat-step>
        </mat-horizontal-stepper>
       
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="false" >
      <button mat-raised-button *ngIf="false" color="primary" type="submit">Create Account</button>
    </mat-card-actions>
  </form>
</mat-card>
