<div class = "logo">
  <img src="assets/images/stayfyt_logo.png">
</div>

<mat-card class="register-card">
  <form #f="ngForm"  (ngSubmit)="createUser()">
    <mat-card-content>
      <div class="register-container">
          
        
        <form>
        <mat-vertical-stepper>
            <mat-step label="Welcome">
                  
                  
                  <mat-form-field>
                    <mat-select placeholder="Who are you?" required>
                      <mat-option value="client">Client</mat-option>
                      <mat-option value="trainer">Trainer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput id="address" placeholder="Zip Code" required >
                  </mat-form-field>
                 
                  <div class="nav-button-container">
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
             
          </mat-step>
          <mat-step label="Basic Information" >
              
              <mat-form-field>
                  <input matInput type="datetime" required placeholder="Date of Birth">
                </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Username">
              </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Password">
              </mat-form-field>
              <mat-form-field>
                <input matInput required placeholder="Confirm Password">
              </mat-form-field>
              <div class="nav-button-container">

                  <button mat-raised-button color="primary" matStepperNext>Next</button>
                  <button mat-button matStepperPrevious>Back</button>
              </div>
          </mat-step>
          <mat-step label="Additional Information">
                <mat-form-field>
                    <mat-select multiple placeholder="Workout types" required>
                        <mat-option value="cardio">Cardio</mat-option>
                        <mat-option value="weights">Weight Lifting</mat-option>
                        <mat-option value="yoga">Yoga</mat-option>
                      </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput required placeholder="Address" >
                
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" required placeholder="Max Range (miles)">
                </mat-form-field>
   
            
                <div class="nav-button-container">

                    <button mat-raised-button color="primary">Finish</button>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
      </form>
       
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="false" >
      <button mat-raised-button *ngIf="false" color="primary" type="submit">Create Account</button>
    </mat-card-actions>
  </form>
</mat-card>
