

.logo{

}

.nav-button-container > {
  margin-top: 15px;
}

.nav-button-container > *{
  float:right;

}
.register-card {
    width: 50%;
    display: block;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }