<mat-card class="register-card">
  <form (ngSubmit)="createUser()">
    <mat-card-content>
      <div class="register-container">
        <mat-form-field>
          <input matInput for="username" placeholder="username" name="username" required
                 [(ngModel)]="formModel.username">
        </mat-form-field>

        <!-- <mat-form-field>
                  <input matInput for="username" placeholder="Username" name="username"
                   [(ngModel)]="formModel.username">
                   <mat-error ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field> -->

        <mat-form-field>
          <input matInput for="password" type="password" placeholder="Password" name="password" required
                 [(ngModel)]="formModel.password">

        </mat-form-field>

        <mat-form-field>
          <input matInput for="password_check" type="password" placeholder="Re-Enter Password" name="password_check" required
                 [(ngModel)]="formModel.password_check">

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="First Name" name="firstname">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name" name="lastname">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Who are you?" required>
            <mat-option value="client">Client</mat-option>
            <mat-option value="trainer">Trainer</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Create Account</button>
    </mat-card-actions>
  </form>
</mat-card>
